<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>FIFA Manager - Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="menu-container">
        <h1>FIFA MANAGER</h1>
        <div class="options">
            <a href="{{ url_for('novo_jogo') }}" class="btn">Novo Jogo</a>
            <a href="{{ url_for('jogos_salvos') }}" class="btn">Jogo Salvo</a>            
            <a href="{{ url_for('historico') }}" class="btn">Histórico</a>
        </div>
    </div>
</body>
</html>